# Подключение к БД (если БД запущена в Docker, но сервер локально)
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/smartedu"

# Порт сервера 
PORT=3002

# Настройки CORS
CLIENT_ORIGIN=http://localhost:5173

# Секреты для JWT и Cookie
ACCESS_TOKEN_SECRET=qwertyuiop
ACCESS_TOKEN_LIFETIME=PT5m
REFRESH_TOKEN_SECRET=asdfghjkl
REFRESH_TOKEN_LIFETIME=P28d
REFRESH_TOKEN_COOKIE_LIFETIME=P28d
COOKIE_SECRET=zxcvbnm
SECURE_COOKIE=false