# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="prisma+postgres://localhost:51213/?api_key=eyJkYXRhYmFzZVVybCI6InBvc3RncmVzOi8vcG9zdGdyZXM6cG9zdGdyZXNAbG9jYWxob3N0OjUxMjE0L3RlbXBsYXRlMT9zc2xtb2RlPWRpc2FibGUmY29ubmVjdGlvbl9saW1pdD0xMCZjb25uZWN0X3RpbWVvdXQ9MCZtYXhfaWRsZV9jb25uZWN0aW9uX2xpZmV0aW1lPTAmcG9vbF90aW1lb3V0PTAmc29ja2V0X3RpbWVvdXQ9MCIsIm5hbWUiOiJkZWZhdWx0Iiwic2hhZG93RGF0YWJhc2VVcmwiOiJwb3N0Z3JlczovL3Bvc3RncmVzOnBvc3RncmVzQGxvY2FsaG9zdDo1MTIxNS90ZW1wbGF0ZTE_c3NsbW9kZT1kaXNhYmxlJmNvbm5lY3Rpb25fbGltaXQ9MTAmY29ubmVjdF90aW1lb3V0PTAmbWF4X2lkbGVfY29ubmVjdGlvbl9saWZldGltZT0wJnBvb2xfdGltZW91dD0wJnNvY2tldF90aW1lb3V0PTAifQ"

# Express server port
PORT=4000

# You can use * to allow any origin. Use "http://localhost:5173" for development. Must be your domain in production
CLIENT_ORIGIN=http://localhost:5173

# For JWT Access token signing. Usually a random generated string. Must be a strong secret in production
ACCESS_TOKEN_SECRET=qwertyuiop

# Usually ~ PT5m; ISO 8601 Duration format;
# PT5m = 5 minutes
ACCESS_TOKEN_LIFETIME=PT5m

# For JWT Refresh token signing. Usually a random generated string. Must be a strong secret in production
REFRESH_TOKEN_SECRET=asdfghjkl

# Usually ~ PT28d; ISO 8601 Duration format;
# P28d = 28 days
REFRESH_TOKEN_LIFETIME=P28d

# Usually ~ PT28d; ISO 8601 Duration format; How long the JWT refresh token should be stored in cookies.
# P28d = 28 days
REFRESH_TOKEN_COOKIE_LIFETIME=P28d

# For cookies signing. Usually a random generated string. Must be a strong secret in production
COOKIE_SECRET=zxcvbnm

# Whether the cookie should be sent over HTTPS only. Must be TRUE in production
SECURE_COOKIE=FALSE
